body {
  margin: 0;
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

h1 {
  margin-top: 10px;
}

.container {
  position: relative;
  width: 640px;
  height: 480px;
  margin: auto;
}

video, canvas {
  position: absolute;
  width: 640px;
  height: 480px;
  left: 0;
  top: 0;
}

canvas {
  z-index: 2;
}
